.instruction {
    height: 100%;
    background-color: rgb(243, 243, 243);
    padding: 0.1rem;
    * {
        box-sizing: border-box;
    }

    &__section-container {
        background-color: white;
        box-shadow: 0 0 10px rgb(107, 107, 107);
        padding: 1rem;
    }

    &__section {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
