@import '../../constants';

.body {
    background-color: white;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    background-color: $bg-color;

    &__body {
        flex: 1;
    }
}