.footer {
    box-sizing: border-box;
    margin-top: .5rem;
    height: 3.5rem;
    padding: 1rem; 
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: 1px solid #bfbfbf;

    &__action-link {
        margin-right: .7rem;
        min-width: 5.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        color: rgb(0, 144, 170);
        font-weight: 500;
        cursor: pointer;
        transition: font-size 100ms linear, color 200ms linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            font-size: 1.3rem;
            color: rgb(255, 50, 50);
        }
    }
}