@import '../../../constants';

/* Customize the label (the container) */
.checkbox2 {
    &__container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    
        /* On mouse-over, add a grey background color */
        &:hover input ~ .checkbox2__checkmark {
            background-color: #ccc;
        }
    
        input ~ .checkbox2__checkmark {
            &::after {
                display: none;
            }
        }

        input:checked ~ .checkbox2__checkmark {
            background-color: $brand-color-primary;
            border: 1px solid $brand-color-primary;

            /* Show the checkmark when checked */
            &::after {
                display: block;
            }
        }
      
        /* Style the checkmark/indicator */
        .checkbox2__checkmark:after {
            content: "\2713";
            position: relative;
            left: 2px;
            display: inline-block;
            color: white;
            font-size: 17px;
        }
    }
      
      
      
    /* Create a custom checkbox */
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #bdbcbc;
        background-color: #eee;

        /* Create the checkmark/indicator (hidden when not checked) */
        &::after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

.circle {
    &__container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* When the checkbox is checked*/
        input:checked ~ .circle__checkmark {
            $rotateDegree: 42deg;
            $width: 3.5px;
            background-color: $success-color;

            /* Show the checkmark when checked */
            &::after {
                left: 9px;
                top: 5px;
                width: 12px;
                height: 16px;
                border: solid white;
                border-width: 0 $width $width 0;
                -webkit-transform: rotate($rotateDegree);
                -ms-transform: rotate($rotateDegree);
                transform: rotate($rotateDegree);
            }

            &::before {
                display: none;
            }
        }

        /* When the checkbox is unchecked*/
        input ~ .circle__checkmark {
            $rotateDegree: 45deg;
            background-color: rgba(255, 0, 0, 0.514);

            /* checkmark when unchecked */
            &::before, &::after {
                left: 13.5px;
                top: 6px;
                height: 18px;
                border: solid white;
                border-width: 0 3px 0 0;
            }
            &::after {
                -webkit-transform: rotate($rotateDegree);
                -ms-transform: rotate($rotateDegree);
                transform: rotate($rotateDegree);
            }

            &::before {
                -webkit-transform: rotate(-$rotateDegree);
                -ms-transform: rotate(-$rotateDegree);
                transform: rotate(-$rotateDegree);
            }
        }
    }

    /* Create a custom checkbox */
    &__checkmark {
        border: none;
        position: absolute;
        top: -2px;
        left: 0;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background-color: #eee;

        /* Create the checkmark/indicator (hidden when not checked) */
        &::after, &::before {
            display: block;
            content: "";
            position: absolute;
        }
    }
}